<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>com.plexserver.plexwatch</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/perl</string>
		<string>/Users/Plex/plexWatch/plexWatch.pl</string>
		<string>-notify</string>
		<string>-recently_added=movie,show</string>
	</array>
	<key>StartInterval</key>
	<integer>60</integer>
</dict>
</plist>
