<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>EnableGlobbing</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/opt/php55/bin</string>
	</dict>
	<key>Label</key>
	<string>com.spotweb.spotweb</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>1</integer>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/opt/php55/bin/php</string>
		<string>/Users/Spotweb/Sites/spotweb/retrieve.php</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/var/log/spotweb/sync.stderr</string>
	<key>StandardOutPath</key>
	<string>/var/log/spotweb/sync.stdout</string>
	<key>StartInterval</key>
	<integer>3600</integer>
	<key>WorkingDirectory</key>
	<string>/Users/Spotweb/Sites/spotweb/</string>
</dict>
</plist>
